// Colors
$color-primary: #E63036;
$color-primary-light: #FFFFFF;
$color-primary-dark: #000000;
$color-secondary: #F4F1DE;


// Fonts
$font-primary: 'Anybody', cursive;
$font-secondary: 'Raleway', sans-serif;